html {
  font-size: 10px;
  margin: 0;
  padding: 0; }

.row-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  padding: 5rem 0 0 5rem; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.title {
  background: linear-gradient(to right, #E3342F, #CC1F1A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5rem;
  border-width: 0 1px;
  border-style: solid;
  border-color: #222;
  padding: 0 4rem;
  display: inline-block;
  margin-left: 5rem; }

.game-image {
  height: 30rem;
  width: 30rem;
  position: relative;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat; }

.letter-box {
  width: 6rem;
  height: 6rem;
  border-style: solid;
  border-width: 1px;
  border-color: #CC1F1A;
  border-radius: 0.5rem;
  background-color: #3D4852;
  color: #E3342F;
  text-transform: uppercase;
  font-size: 2.5rem;
  margin: 5rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center; }
